{% extends "../base.html" %} 

{% block title %}订单管理{% end %}

{% block breadcrumb %}
<li><a href="#">订单管理</a></li>
{% end %} 

{% block content %}
<div class="row-fluid">
	<div>
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box">
			<div class="portlet-body" style="display: block;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>名称</th>
							<th>订单号</th>
							<th>创建时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr class="iterate" next = "/artisan/order?order_id={{order.id}}">
							<td>{{order.id}}</td>
							<td>{{order.title}}</td>
							<td>{{order.order_no}}</td>
							<td class="hidden-480">{{order.create_time}}</td>
							<td>{{status_description[order.status]}}</td>
							{% if order.status == 1 %}
							<td>
							<form action="/artisan/trade" method="post" style="margin:0">
							 <input type='hidden' name="order_no" value="{{order.order_no}}">
							 <input type='submit'  value="出发">
							</form>
							</td>
							{% elif order.status == 4 %}
							<td>
							<form action="/artisan/order/delete" method="post" style="margin:0">
							 <input type='hidden' name="order_id" value="{{order.id}}">
							 <input type='submit'  value="删除">
							</form>
							</td>
							{% else %}
							<td> &nbsp;</td>
							{% end %}
							
						</tr>
						{% end %}
					</tbody>
				</table>
				<div class="row-fluid">
					<div class="span8"></div>
					<div class="span4">
						<div class="dataTables_paginate paging_bootstrap pagination">
							{% autoescape None %}
							{{ handler.paging(page, page_size, total) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
{% block js %}
    <script type="text/javascript">
    $('tr.iterate').click(function(){
    	window.location.href = $(this).attr('next')
    });
	</script>
{% end %}
{% end %}
