{% extends "../base.html" %} 
{% block title %}发布作品{% end %}

{% block css %}
<link href="/static/css/jquery.fileupload-ui.css" rel="stylesheet">
{% end %}

{% block js %}
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/jquery.fileupload-fp.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	var enable_upload = function() {
		if ($(".icon-remove").length < 4) {
			$("#fileupload").removeAttr("disabled");
		} else {
			$("#fileupload").attr("disabled", "disabled");
		}
	};
	
	var remove_img = function() {
		$(".icon-remove").unbind("click");
		$(".icon-remove").click(function() {
			$(this).parent().parent().parent().parent().remove();
			enable_upload();
		});
		enable_upload();
	};
	
	var upload = $('#fileupload').fileupload({
		url : "/upload_image",
		dataType : 'json',
		acceptFileTypes : /(\.|\/)(gif|jpe?g|png)$/i,
		maxFileSize : 5000000, // 5 MB
		previewMaxWidth : 100,
		previewMaxHeight : 100,
		previewCrop : true,
		progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $("#progress .bar").css("width", progress + "%");
        },
		done: function(e, data) {
			$("#progress .bar").css("width", 0);
			var img_url = data.result.url;
			var template = _.template($("#preview_temp").html());
			$("#files").append($(template({url:img_url})));
			remove_img();
		}
	});

	remove_img();
});
</script>
{% end %}

{% block template %}
<script type="text/template" id="preview_temp">
<div class="span2">
	<div class="item">
		<div class="zoom">
			<img src="<%=url%>" alt="Photo" style="max-width:100%">
			<input name="image" type="hidden" value="<%=url%>">
		</div>
		<div class="details">
			<a href="javascript:void(0)" class="icon"><i class="icon-remove"></i></a>
		</div>
	</div>
</div>
</script>
{% end %}

{% block content %}
<div class="row-fluid">
	<div class="portlet box">
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form class="form-horizontal" method="post">
				<div class="control-group">
					<label class="control-label">作品名称</label>
					<div class="controls">
						<input type="text" name="name" placeholder="作品名称" class="m-wrap span6" value="{{item.name}}" />
						<span class="help-block">{{ handler.get_error('name') }}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">类别</label>
					<div class="controls">
						<select name="category_id" class="m-wrap span4">
						{% for cate in categories %}
						<option value="{{cate.id}}">{{cate.name}}</option>
						{% end %}
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">店面价</label>
					<div class="controls">
						<input type="text" name="tag_price" placeholder="填写价格 如299" class="m-wrap span6" value="{{item.tag_price}}" />
						{{ handler.get_error('tag_price') }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">价格</label>
					<div class="controls">
						<input type="text" name="price" placeholder="填写价格 如199" class="m-wrap span6" value="{{item.price}}" />
						{{ handler.get_error('price') }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">作品图片</label>
					<div class="controls fileupload-buttonbar">
						<div class="row-fluid">
							<span class="btn green fileinput-button">
								<i class="icon-plus icon-white"></i>
								<span>选择图片上传</span>
								<input id="fileupload" type="file" name="file" />
							</span>
						</div>
						<div class="row-fluid">
							<div id="progress" class="progress span8">
						        <div class="bar bar-success"></div>
						    </div>
						</div>
					    <div id="files" class="row-fluid">
					    	{% for image in item.images %}
							<div class="span2">
								<div class="item">
									<div class="zoom">
										<img src="{{image.url}}" alt="Photo" style="max-width:100%">
										<input name="image" type="hidden" value="{{image.url}}">
									</div>
									<div class="details">
										<a href="javascript:void(0)" class="icon"><i class="icon-remove"></i></a>
									</div>
								</div>
							</div>
					    	{% end %}
					    </div>
					    <span class="help-block">{{ handler.get_error('images') }}</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">简介</label>
					<div class="controls">
						<textarea class="m-wrap span8" rows="3" name="brief">{{item.brief}}</textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">标签</label>
					<div class="controls">
						{% for tag in tags %}
						<label class="checkbox">
							<input type="checkbox" name="tags" value="{{tag.name}}" />{{tag.name}}
						</label>
						{% end %}
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn green" value="提交" />
						<input type="reset" class="btn" value="取消" />
					</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
</div>
{% end %}
