{% extends "../base.html" %} 

{% block title %}我的作品{% end %}

{% block breadcrumb %}
<li><a href="#">Horzontal & Sidebar Menu</a></li>
{% end %} 

{% block content %}
<div class="row-fluid">
	<div>
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box">
			<div class="portlet-body" style="display: block;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>作品名称</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td class="hidden-480">{{item.create_time}}</td>
							<td><a href="/sample/{{item.id}}" class="label label-success">编辑</a></td>
						</tr>
						{% end %}
					</tbody>
				</table>
				<div class="row-fluid">
					<div class="span8"></div>
					<div class="span4">
						<div class="dataTables_paginate paging_bootstrap pagination">
							{% autoescape None %}
							{{ handler.paging(page, page_size, total) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
{% end %}
