<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=1;" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="/static/css/global.css" rel="stylesheet" type="text/css" />
<link href="/static/css/grid.css" rel="stylesheet" type="text/css" />
<title>关于咪咖</title>
</head>
<body>
<div id="wrap" class="con_bg02">
          <div class="mkw">
            <div class="co_k c04">
                <p class="txac"><img src="/static/image/mika_logo.png" style="width:50%"></p>
                <p class="txac pdt10 red2">关于咪咖美妆</p>
                <p class="h5 txi2 mgt10 p04">目前咪咖美妆已经开通美甲，造型化妆，护肤等美业品类，接下来还会有美容，美发，写真摄影的上门服务，总之，足不出户，手机点一点，所有美业服务，为您上门。</p>
                <p class="h5 txi2 mgt10 p04">所有咪咖美妆的大咖们，均通过资质审核，严格的技艺考试，身份备案（还必需有同城担保人）。更重要的是，他们因为是行业大咖，非常在乎好评差评，你的评价将是他们最关注的事情——甚至有先行赔付系统，如果对服务不满意，联系，你不会有任何损失！</p>
                


       </div>
    </div>  
</div>
</body>
</html>
