<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=1;"
          name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/static/css/global.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/grid.css" rel="stylesheet" type="text/css"/>
    <title>服务范围</title>
</head>
<body>
<div id="wrap" class="con_bg02">
    <div class="mkw">
        <div class="co_k c04">
            <p class="h5 txac mgt10 p04">服务范围</p>

            <p class="h5 txi2 mgt10 p04">咪咖美妆，你的专业造型大咖
                成都地区具体服务范围如下：
                三环路以内全部地区。
                武侯商业圈、世纪城商业圈、天府软件园商业圈。
            </p>
        </div>
    </div>
</div>
</body>
</html>
