{% extends "../base.html" %}

{% block title %}我的预约{% end %}

{% block content %}
<div class="row-fluid">
	<div>
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box">
			<div class="portlet-body" style="display: block;">
			<div class="row-fluid">
                <a href="/artisan/appointment/status" >
                    <span id="day0" class="btn">{{chday['day0']['name']}}</span>
                </a>
                <a href="/artisan/appointment/status?appt_date={{chday['day1']['value']}}" >
                   <span id="day1" class="btn">{{chday['day1']['name']}}</span>
                </a>
                <a href="/artisan/appointment/status?appt_date={{chday['day2']['value']}}" >
                   <span id="day2" class="btn">{{chday['day2']['name']}}</span>
                </a>
                <a href="/artisan/appointment/status?appt_date={{chday['day3']['value']}}" >
                   <span id="day3" class="btn">{{chday['day3']['name']}}</span>
                </a>
            </div>
            <br />
				<table class="table table-hover">
					<tbody>
						{% for k, v in apptss.iteritems() %}
							{% if k % 4 == 2 %}
							<tr>
							{% end %}
							
							<td>
								<span class="btn">{{k}}点：</span>
								{% if v['status'] == 0 %}
								<span class="btn green">可预约</span>
								{% elif v['status'] == -1 %}
								<span class="btn black">已关闭</span>
								{% else %}
								<span class="btn red">被预约</span>
								{% end %}
							</td>
							{% if k % 4 == 1 %}
							</tr>
							{% end %}
						
						{% end %}
					</tbody>
				</table>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>

{% end %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	var find = "'";
	var re = new RegExp(find, 'g');
    var days = "{{chday}}".replace(re, '"')
    var current = "{{appt_date}}";
    days = $.parseJSON(days)
    $.each(days, function(k,v) {
    	if (v.value == current) {
    		$("#"+k).addClass("yellow");
    	}
    })
    
});

</script>
{% end %}