{% extends "../base.html" %}

{% block title %}我的预约{% end %}

{% block content %}
<div class="row-fluid">
	<div>
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box">
			<div class="portlet-body" style="display: block;">
				<table class="table table-hover">
					<tbody>
						{% for k, v in apptss.iteritems() %}
							{% if k % 4 == 2 %}
							<tr>
							{% end %}
							
							<td>
								<span class="btn">{{k}}点：</span>
								{% if v['status'] == 0 %}
								<span class="btn green">可预约</span>
								{% elif v['status'] == -1 %}
								<span class="btn black">已关闭</span>
								{% else %}
								<span class="btn red">被预约</span>
								{% end %}
							</td>
							{% if k % 4 == 1 %}
							</tr>
							{% end %}
						
						{% end %}
					</tbody>
				</table>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
{% end %}
