{% extends "../base.html" %}

{% block title %}我的主页{% end %}

{% block breadcrumb %}
<li><a href="#">Horzontal & Sidebar Menu</a></li>
<li><a href="#">预约状态</a></li>
{% end %} 

{% block content %}
<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span8 profile-info">
				{% for k, v in apptss.iteritems() %}
				    <div>
					{{k}}点：
					{% if v['status'] == 0 %}
					<span class="label label-info">可预约</span>
					{% elif v['status'] == -1 %}
					<span class="label label-danger">已关闭</span>
					{% else %}
					<a href="#" class="btn black">被预约 <i class="m-icon-swapright m-icon-white"></i></a>
					{% end %}
					</div>
				{% end %}
			</div>
			<!--end span8-->
		</div>
		<!--end row-fluid-->
	</div>
	<!--end span9-->
</div>
{% end %}
