{% extends "../base.html" %} 
{% block title %}美甲师管理{% end %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $(".delete_artisan").click(function(){
        if(confirm("您确认要删除此条目？(警告：此操作不可恢复，请谨慎！)")) {
            var form_id = $(this).attr('target');
            $("#" + form_id).submit();
        }
    });
    
});   
</script>
{% end %}
{% block content %}
<div class="row-fluid">
	<div>
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box">
			<div class="portlet-title">
				<div class="tools"><a href="/artisan">添加美甲师</a></div>
			</div>
			<div class="portlet-body" style="display: block;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>姓名</th>
							<th>手机号</th>
							<th>注册时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.mobile}}</td>
							<td class="hidden-480">{{item.create_time}}</td>
							<td>
							<form id="delete_{{item.id}}" action="/artisan/{{item.id}}/delete" method="post">
							<a href="javascript:void(0)" target="delete_{{item.id}}" class="label label-delete delete_artisan">删除</a>
							</form>
							</td>
						</tr>
						{% end %}
					</tbody>
				</table>
				<div class="row-fluid">
					<div class="span8"></div>
					<div class="span4">
						<div class="dataTables_paginate paging_bootstrap pagination">
							{% autoescape None %}
							{{ handler.paging(page, page_size, total) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
{% end %}
