{% extends "../base_col_2.html" %} {% block title %}添加美甲师{% end %}

{% block css %}
<link href="/static/css/dropzone.css" rel="stylesheet">
{% end %}

{% block js %}
<script src="/static/js/dropzone.js"></script>
{% end %}

{% block breadcrumb %}
<li><a href="#">Horzontal & Sidebar Menu</a></li>
{% end %}

{% block content %}
<div class="row-fluid">
	<div class="portlet box">
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form action="/upload_image" class="dropzone dz-clickable" id="my-awesome-dropzone" method="post">
				<div class="dz-default dz-message" data-dz-message="">
					<span>Drop files here to upload</span>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
</div>
{% end %}
